<%- partial('_partial/head') %>

    <body class="page-template page-template-user page-template-page-analytics page-template-userpage-analytics-php page page-id-1297 chinese-font serif isWebKit">
        <div class="scrollbar" id="bar">
        </div>
        <a href="#" class="cd-top faa-float animated"></a>
        <section id="main-container">
            <%- partial('_partial/headertop', null, {cache: !config.relative_link}) %>
                <div id="page" class="site wrapper">
                    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
                        <%- body %>
                </div>
                <%- partial('_widget/search/insight') %>
                    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
                        <div class="openNav no-select" style="height: 50px;">
                            <div class="iconflat no-select" style="width: 50px; height: 50px;">
                                <div class="icon"></div>
                            </div>
                            <div class="site-branding search-form-submit">
                                <i class="iconfont js-toggle-search iconsearch icon-search"></i>
                            </div>
                        </div>
        </section>
        <%- partial('_partial/mheader', null, {cache: !config.relative_link}) %>
            <%- partial('_partial/aplayer', null, {cache: !config.relative_link}) %>

                <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;"></canvas>
                <script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
                <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/clickBom.js"></script>
                <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/sakura.js"></script>
                <!-- 著作权归作者所有。 商业转载请联系作者获得授权，非商业转载请注明出处。 来源：https://blog.wallleap.cn/2020/03/08/theme-beautify/#3%E3%80%81%E6%B7%BB%E5%8A%A0%E9%BC%A0%E6%A0%87%E5%8D%95%E5%87%BB%E7%89%B9%E6%95%88 -->
    </body>

    </html>